/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'IRANSans';
    src: url('./assets/Fonts/IRANSansWeb(FaNum).woff');
}

*{
font-family: IRANSans;
}