<div class="wrapper">
    <nav class="nav" id="nav">
      <div class="default-nav">
        <div class="main-nav">
          <table class="w-100 text-center table-navbar">
              <tr>
                <td class="td-left"><div class="toggle" (click)="Back()"></div></td>
                <td class="td-main">به زودی</td>
                <td class="td-right"></td>
              </tr>
            </table>  
         </div> 
      </div>
    </nav>  
    <div class="col-md-12 div-body"  (click)="Back()">

    </div>
  </div>



