<div class="wrapper">
  <nav class="nav" id="nav">
    <div class="default-nav">
      <div class="main-nav">
        <table class="w-100 text-center table-navbar">
          <tr>
            <td class="td-left"></td>
            <td class="td-main">Ding</td>
            <td class="td-right"></td>
          </tr>
        </table>    
      </div>
    </div>
  </nav>
  <div class="page">
        <div class="box hero back11">
        <img [ngStyle]="{'opacity':slideIndex==1 ? 1 : 0 }" class="mySlides" src="https://siteinjast.ir/files/1.jpg">
        <img [ngStyle]="{'opacity':slideIndex==2 ? 1 : 0 }" class="mySlides" src="https://siteinjast.ir/files/2.jpg">
        <img [ngStyle]="{'opacity':slideIndex==3 ? 1 : 0 }" class="mySlides" src="https://siteinjast.ir/files/5.jpg" >
        <img [ngStyle]="{'opacity':slideIndex==4 ? 1 : 0 }" class="mySlides" src="https://siteinjast.ir/files/4.jpg" >
        <button class="btn-back"  (click)="slider(1)"><</button>  
        <button  class="btn-next" (click)="slider(-1)">></button>  
        <span class="span"> Ding </span>
        </div>
        <div class="box back4" [routerLink]="['comingsoon']">
          <img class="IconPages" src="../assets/ImgTools/Login_Icon.png">
          <span class="span text-center">ورورد <br> ثبت نام</span>
        </div>
        
        <div class="box back9 right tall" [routerLink]="['chat-room']" >
          <img class="IconPages" src="../assets/ImgTools/Secret_Chat_Icon.png">
          <span class="span" >چت ناشناس</span>
        </div>
        <div class="box back3"  [routerLink]="['settings']">
          <img class="IconPages" src="../assets/ImgTools/setting_Icon.png">
          <span class="span">تنظیمات</span>
        </div>
        <div class="box back2"  [routerLink]="['/about-us']">
          <img class="IconPages" src="../assets/ImgTools/About_Us_Icon.png">
          <span class="span">درباره ما</span>
        </div>
        <div class="box back6 right" [routerLink]="['help']">
          <img class="IconPages" src="../assets/ImgTools/Help_Icon.png">
          <span class="span">راهنما</span>
        </div>
        <div class="box back8 wide" [routerLink]="['comingsoon']">
          <img class="IconPages" src="../assets/ImgTools/Group_Chat_Icon.png">
          <span class="span" >گروه ها</span>
        </div>
  </div>
</div>