<div class="wrapper">
  <nav class="nav" id="nav">
    <div class="default-nav">
      <div class="main-nav">
        <div class="toggle" (click)="Back()"></div>
        <div class="main-nav-item">
            &nbsp;
            <span *ngIf="isTypeing">is typeing...</span>
                    </div>
        <div class="options">
          <button [disabled]='ShowLoader' class="btn btn-primary btn-refresh" (click)="disconect()"></button>
        </div>
      </div>
    </div>
  </nav>
  <div class="inner" id="inner">
    <div class="content" id="content" (resized)="onResized($event)"  >
 
      <div *ngFor="let msg of messages; let i = index">
        <div class="message-wrapper me" *ngIf="msg.type == true">
          <div class="circle-wrapper animated bounceIn">
            <img src="../assets/ProfilePicture/MyDefultProfilePicture.png" class="ProfilePicture"/>
          </div>
          <div class="text-wrapper animated fadeIn">{{ msg.message }}</div>
        </div>

        <div class="message-wrapper them" *ngIf="msg.type == false">
          <div class="circle-wrapper animated bounceIn">
            <img src="../assets/ProfilePicture/SercretProfilePictuer.png" class="ProfilePicture"/>
          </div>
          <div class="text-wrapper animated fadeIn">{{ msg.message }}</div>
        </div>
      </div>
      <div id="scroll"></div>
    </div>
  </div>
  <form class="form-inline" (ngSubmit)="sendMessage(1)" #messageForm="ngForm">
    <div class="bottom" id="bottom">
      <input
        type="text"
        (keyup)="sendMessage(5)"
        class="input"
        dir="rtl"
        id="input"
        placeholder="متن پیام خود را بنویسید ..."
        name="message"
        [(ngModel)]="message"
        autocomplete="off"
        required
      />
      <button
        type="submit"
        class="send ImgSubmit" 
        [hidden]="!messageForm.valid"
        onclick="document.getElementById('input').focus()"
      ></button>

      <span class="send ImgEmoji BtnSendEmoji" [hidden]="messageForm.valid" >
        <div class="ListEmojis" onfocus="console.log('ssss')">
        <img src="../assets/ImgTools/Call.gif" class="toolsIcon"/>
        </div>
      </span>
    </div>
  </form>
  <div>
      <div class="modal" *ngIf="ShowLoader">
        <div class="modal-content">
          <div class="modal-header">
            <label>در حال ارتباط با کاربر دیگر</label>
          </div>
          <div class="modal-body">
            <div class="col-md-12 text-center">
              <img src="../assets/loader.gif" class="img-loader" />
            </div>
          </div>

          <div class="modal-footer">
            <label>{{ CountOnlineUsers }} : تعداد کاربران آنلاین </label>
          </div>
        </div>
      </div>
    </div>
  </div>