<div class="wrapper">
    <section id="amazingTeam" class="clear">
        <div class="containerContent">
            <div class="set_size_section1">
                <nav class="nav" id="nav">
                    <div class="default-nav">
                      <div class="main-nav">
                        <table class="w-100 text-center table-navbar">
                            <tr>
                              <td class="td-left"><div class="toggle" (click)="Back()"></div>              </td>
                              <td class="td-main">درباره ما</td>
                              <td class="td-right"></td>
                            </tr>
                          </table>  
                       </div> 
                    </div>
                  </nav>             
                <article class="article_center4 col-md-12">
                    <div class="md-modal md-effect-9" id="modal-9">
                        <div class="md-content">
                            <h3>Contact information</h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <article class="section4_article article1">
                                <div class="itemli">
                                    <div class="ch-item">
                                        <!-- <img src="images/ourAmazingTeam_1.png"/>-->
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-1">
                                            </div>
                                            <div class="ch-info-back">
                                                <h3>سامان آزادی</h3>
                                                <!--<p>Visit my personal<a class="md-trigger">Website</a></p>-->
                                                <p>برای ارسال ایمیل به مدیر 
                                                    <br>
                                                    <a class="md-trigger" id="idPerson1" href="mailto:samanazadi1996@gmail.com">اینجا </a>
                                                    <br>
                                                کلیک کنید
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3>Saman Azadi</h3>
                                <p>Programmer</p>
                                <ul class="icon">
                                    <li>
                                        <a class="icon_twitter " target="_blank"
                                            href="https://twitter.com/Saman_Azadi_"></a>
                                    </li>
                                    <li>
                                        <a class="icon_telegram " target="_blank" href="https://t.me/sam_i_x"></a>

                                    </li>
                                    <li>
                                        <a class="icon_instagram " target="_blank"
                                            href="https://www.instagram.com/saman_azadi_/"></a>

                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <article class="section4_article">
                                <div class="itemli">
                                    <div class="ch-item">
                                        <!-- <img src="images/ourAmazingTeam_1.png"/>-->
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-2"></div>
                                            <div class="ch-info-back">
                                                <h3>سبحان مظفری</h3>
                                                <!--<p>Visit my personal<a class="md-trigger">Website</a></p>-->
                                                <p>برای ارسال ایمیل به مدیر 
                                                    <br>
                                                    <a class="md-trigger" id="idPerson1" href="mailto:sobhan.plus.plus@gmail.com">اینجا </a>
                                                    <br>
                                                کلیک کنید
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3>Sobhan Mozafari</h3>
                                <p>Programmer</p>
                                <ul class="icon">
                                    <li>
                                        <a class="icon_twitter " target="_blank"
                                            href="https://twitter.com/Sobi_1995"></a>
                                    </li>
                                    <li>
                                        <a class="icon_telegram " target="_blank" href="https://t.me/sobi_1995"></a>

                                    </li>
                                    <li>
                                        <a class="icon_instagram " target="_blank"
                                            href="https://www.instagram.com/sobi.1995/"></a>

                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>

                    <p class="services_p_team center clear" dir="rtl">
                        وب اپلیکیشن دینگ در تاريخ پانزدهم مهر ماه 1399 برپايه نيازهاي امروزي کاربران اينترنتي ايراني راه اندازي شد. تا به عنوان یک وب اپلیکیشن براي ارتباط ايرانيان و فارسي زبانان جهان بتواند بستري جهت تبادل اطلاعات ، نيازها ، آشنا شدن با همکاران ،یافتن دوستان جدید و ... بوجود آورد 
                        .
                    </p>
                </article>
            </div>
        </div>
    </section>
</div>