.back1 {
    background: -webkit-linear-gradient(-50deg,#ae93bb,#a63d71)
}

.back2 {
    background: -webkit-linear-gradient(-50deg,#ff69b4,pink)
}

.back3 {
    background: -webkit-linear-gradient(-50deg,#adff2f,green)
}

.back4 {
    background: -webkit-linear-gradient(-50deg,#fff,red)
}

.back5 {
    background: -webkit-linear-gradient(-50deg,#93b0bb,#3d7aa6)
}

.back6 {
    background: -webkit-linear-gradient(-50deg,#feff00,#f60)
}

.back7 {
    background: -webkit-linear-gradient(-50deg,#9d93bb,#6659a1)
}

.back8 {
    background: -webkit-linear-gradient(-50deg,#afabb2,#695f64)
}

.back9 {
    background: -webkit-linear-gradient(-50deg,#0ff,#00008b)
}

.back10 {
    background: -webkit-linear-gradient(-50deg,#93bb95,#5a774e)
}

.back11 {
    background: -webkit-linear-gradient(-61deg,#82ffff,#b311ff)
}

.wrapper {
    height: 100%;
    width: 320px;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 3px 3px 0 rgba(50,50,50,.5);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    padding-top: 64px;
    overflow-y: auto
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 100;
    -webkit-transition: .3s ease;
    transition: .3s ease
}

    .nav .default-nav {
        height: 64px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 110;
        background-color: #0af;
        border-bottom: 3px solid #0af;
        color: #fff;
        box-shadow: 0 3px 3px 0 rgba(50,50,50,.1);
        -webkit-transition: .3s ease;
        transition: .3s ease
    }

        .nav .default-nav .main-nav {
            position: absolute;
            left: 0;
            width: 100%;
            height: 64px;
            top: 0;
            margin: 0;
            padding: 0;
            list-style: none;
            -webkit-transition: .3s ease;
            transition: .3s ease
        }

            .nav .default-nav .main-nav .toggle {
                height: 32px;
                width: 32px;
                background: url(/assets/ImgTools/ic_arrow_back_white_48dp.png);
                background-size: contain;
                margin: 16px;
                float: left
            }

                .nav .default-nav .main-nav .toggle:hover {
                    cursor: pointer
                }

@media (max-width:560px) {
    .wrapper {
        width: 100%;
        height: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.td-right {
    width: 64px
}

.td-left {
    width: 64px
}

.td-main {
    font-size: 21px
}

.table-navbar {
    height: 100%
}
