  .wrapper {
    height: 100%;
    width: 320px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    padding-top:64px;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 100;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav .default-nav {
    height: 64px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 110;
    background-color: #00aaff;
    border-bottom: 3px solid #00aaff;
    color: #ffffff;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .nav .default-nav .main-nav {
    position: absolute;
    left: 0;
    width: 100%;
    height: 64px;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    
  }
  .nav .default-nav .main-nav .toggle {
    height: 32px;
    width: 32px;
    background: url(/assets/ImgTools/ic_arrow_back_white_48dp.png);
    background-size: contain;
    margin: 16px;
    float: left;
  }
  .nav .default-nav .main-nav .toggle:hover {
    cursor: pointer;
  }
  .nav .default-nav .main-nav .options {
    height: 32px;
    width: 32px;
    background-size: contain;
    margin: 16px;
    position: absolute;
    right: 0;
  }
  .nav .default-nav .main-nav .options:hover {
    cursor: pointer;
  }
  .nav .default-nav .main-nav .main-nav-item {
    float: left;
    height: 64px;
    margin-right: 50px;
    position: relative;
    line-height: 64px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 21px;
    text-align: center;
    width: 192px;
  }
  
  @media (max-width: 560px) {
    .wrapper {
      width: 100%;
      height: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .div-body{
    height: 100%;
    width: 100%;
  }
  .mySlides{
    z-index: 0;
    transition: 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10px;
    padding-bottom: 74px;
  }
  .btn-back{
    left: 15px;
    position: absolute;
    bottom: 15px;
  } 
  .btn-next{
    right: 15px;
    position: absolute;
    bottom: 15px;
  }  
  .td-right{
  width: 64px;
  }  
  .td-left{
    width: 64px;
  }  
  .td-main{
    font-size: 21px;
  }
  .table-navbar{
  height: 100%;
  }  

      